header{
    background-color: rgb(50, 84, 235);
}
.titulo{
    font-family: serif;
}
.menu{
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
}

#container{
    padding: 20px;
}
#conteudo{
    line-height: 1.5;
}

p{
    color: green;
}
button{
    background-color: blue;
    color: aliceblue;
}

form {
    border: 1px solid gray; 
    padding: 10px; 
}

.rodape{
    border-top: 2px solid red;
}